.container-fluid {
  padding: 0px;
}

/*overwrite oddities in bootstrap that are causing white margin on the sides*/
.row {
  margin: 0px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin: 0px;
}
.navbar {
  position: relative;
  background-color: black;
  margin-bottom: 0px;
}
.post-navbar {
  position: relative;
  background-color: transparent;
}
.navbar-right {
  display: none;
}
.navbar-fixed-top {
    border: 0px;
}
.navbar-brand {
  padding-left: 30px;
}
/*To get rid of inability to "hover" on mobile device*/
.portfolio-box .portfolio-box-caption {
  opacity:0;
}
/*.portfolio-box:hover .portfolio-box-caption {
  opacity: 0.9;
}*/
.portfolio-box:focus .portfolio-box-caption {
  opacity: 1;
}

@media (min-width: 768px) {
.portfolio-box .portfolio-box-caption {
  opacity: 0;
  display: block;
}
}

.feature-img {
  max-height: 100vh; 
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*colour pallete*/
.navbar-default .navbar-header .navbar-brand {
  color: #BA783C;
}
.portfolio-box .portfolio-box-caption {
    background: rgba(186,120,20,.7);
}
.text-faded {
  color: rgba(255, 255, 255, 1);
}
a {
    color: #DBDBDB;
}
a:hover, a:focus {
  color: #DBDBDB;
}
body {
  background-color: #F2F2F2
}